doctype html
html
  head
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="users.js")
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
  body
    p If you would like to search a user, type him/her firstname or lastname in the search bar and press the button
    div#wrapper
      div#first 
        a(href='/users') To see all my users, click here
      div#second
        a(href='/new') If you want to be my user, click here!
    form.searchbar(method="get" action="/input")
      input.username(type='text', name ='input' placeholder='Who are you looking for?')
      div.matches
      input.button(type='submit', value='search')
      
      
      //- div.searchbar
        
        
    
