doctype html
html
	head
		style(type='text/css').
	body
		div.output
			p #{matchedUsers.firstname} #{matchedUsers.lastname} <br> email: #{matchedUsers.email}
				
		p
			a(href='/new') If you'd like to join them, click here!









