doctype html
html
    head
        style(type='text/css').
    body
        h3 I have #{users.length} users
        each user in users
            div.output
                p Name: #{user.firstname} #{user.lastname} <br> Email: #{user.email}
                
        p
            a(href='/new') If you'd like to join them, click here!









